Title: My blog among top 20, selected by Microsoft India
Published: 07/07/2007
Tags:
  - Technology
  - Personal
----
<p>A little late to announce this (I also came to know about this only today :).<br/><a title="MS India BlogStars" href="http://www.flickr.com/photos/10077187@N00/746120445/"><img alt="MS India BlogStars" src="http://static.flickr.com/1337/746120445_a7630b34d7.jpg" border="0"></a></p> <p>The Top 20 Blogs are...</p> <p><a title="Top 20 Blogs" href="http://www.flickr.com/photos/gchiramattel/746132523/"><img height="393" alt="Top 20 Blogs" src="http://farm2.static.flickr.com/1397/746132523_b5700a10a6_o.png" width="669"></a></p> <p>You can read more about this <a href="http://www.microsoft.com/india/blogstars/winners.aspx">here</a>.</p> <div class="wlWriterSmartContent" id="0767317B-992E-4b12-91E0-4F059A8CECA8:672cf2d7-eb26-4963-8c3a-9c038a853dd6" contenteditable="false" style="padding-right: 0px; display: inline; padding-left: 0px; float: none; padding-bottom: 0px; margin: 0px; padding-top: 0px">Technorati Tags: <a href="http://technorati.com/tags/BlogStars" rel="tag">BlogStars</a>, <a href="http://technorati.com/tags/Microsoft" rel="tag">Microsoft</a>, <a href="http://technorati.com/tags/India" rel="tag">India</a>, <a href="http://technorati.com/tags/Revelations" rel="tag">Revelations</a>, <a href="http://technorati.com/tags/Blogs" rel="tag">Blogs</a>