Title: Producing Open Source Software
Published: 07/31/2007
Tags:
  - Technology
----
<p>I came across this book by Karl Fogel on the same title. The book describes how to run a successful free software project. 90-95% of all Open Source software fails. All the more reason why this book is important.</p>

<blockquote>Producing Open Source Software is a book about the human side of open source development. It describes how successful projects operate, the expectations of users and developers, and the culture of free software.</blockquote>

<p>In the sprit of Open Source, this book is released under an open copyright that allows everyone to share and modify the book freely. You can get your copy <a href='http://www.producingoss.com/'>here</a>.<br />
</p>