Title: Update on nTrac
Published: 07/10/2007
Tags:
  - Technology
  - OpenSource
----
<p>I have decided to take some time off, and focus on <a href="https://code.google.com/p/ntrac/">nTrac</a>. I am in the process of defining the scope for the same. </p> <p>My thoughts on the initial version are as follows:</p> <ul> <li>This is targeted towards Windows developers. The product should scale from a single user to a group of users very easily.&nbsp;</li> <li>Ease of deployment is very important. The basic install will have source-control (SVN) and web based tracking up-and-running.</li> <li>The product will have very little external dependency - It should work on an XP box with .Net and nothing else. </li> <li>The&nbsp;Desktop deployment' should will a customized version of the <a href="https://www.asp.net/Projects/Cassini/Download/" target="_blank">Cassini</a> Web server and will run off the system tray (very similar to <a href="https://www.screwturn.eu" target="_blank">ScrewTurn Wiki</a> desktop edition). </li></ul> <p>To enable this level of ease of deployment, I prefer&nbsp;the option of&nbsp;embedding subversion into the product. A good .Net binding for Subversion will definitely help.</p> <p>I will continue to update the progress that I am making here.</p>