Title: Significant milestone reached for DotSVN
Published: 08/10/2007
Tags:
  - Technology
----
<p>I am happy to announce the first increment release of <a href="https://dotsvn.googlecode.com">DotSVN</a>.</p>

<p>DotSVN is a 100% compatible (at the repository level) port of SVN - very similar to <a href="https://svnkit.com/">SVNKit</a>. It can be used to access or modify SVN repository from DotNet application, be it a standalone program or from an Asp.Net web application. As mentioned <a href="https://george.chiramattel.com/blog/2007/07/05/update_on_ntrac.html">here</a>, this project was started to support the <a href="https://ntrac.googlecode.com/">nTrac</a> project.</p>

<p style="text-align: center"><a href="https://dotsvn.googlecode.com" title="DotSVN sampleclient"><img src="https://farm2.static.flickr.com/1269/1246362949_6914ce18ea_o.png" width="587" height="369" alt=" Sample GUI Client for DotSVN" /></a><br/>
Sample .Net application build using DotSVN, accessing an FSFS file repository using &#x27;file access&#x27;.</p>