Title: Upgraded to MT4 
Published: 08/22/2007
Tags:
  - Technology
----
<p>I have upgraded this site to <a href="http://www.movabletype.com/">MovableType 4</a>. <br />
This is the first blog with this new engine, Let's see how things go....</p>