Title: About
---
@using FluentBootstrap;

<p>I'm George Chiramattel, a web technologist with two decades of industry experience. Interested in anything related to technology and leading a full life. I am currently working as Principal Software Engineer in @Bs.Link("Intuit's'", "https://www.intuit.com") developer platform team focusing on design and development of our primary web presence <a href="https://developer.intuit.com">developer.intuit.com</a> using .NET technologies like ASP.NET MVC, Entity Framework, and client libraries like Angular, and Bootstrap.</p>
<p>Other than my day job, I squeeze time to pursue my passion for <a href="https://github.com/georgeck">writing code</a>.</p>
<p>I have profiles scattered around the web at the following sites:</p>
@Html.Partial("_SocialLinks")
