Title: Back from our vacation
Published: 08/24/2006
Tags:
  - Personal
  - Vacation
  - Europe Trip
----
<p>We reached home after our long <a href="http://www.chiramattel.com/george/blog/2006/07/14/europe_vacation.html">vacation</a>. <span>Apart</span> from <a href="http://www.chiramattel.com/george/blog/2006/08/24/reached_rome_and_got_pickpocke.html">this</a> small incident, we enjoyed the trip throughly. I wanted to blog about our experience during the travel itself - but this did not happen as it was difficult to get connected to the Internet as often as I wanted :-(</p>

<p>I have started to upload the snaps that I had taken. You can find them <a href="http://www.flickr.com/photos/georgeck/tags/europetravel/">here</a>.<br/>
</p>