Title: Beer tasting in Belgium
Published: 08/07/2006
Tags:
  - Personal
  - Vacation
  - Europe Trip
----
<p>In Belgium we visited some pubs with more than 200 <span>varieties</span> of Beer! <br/>
</p>

<p>With some guidance from my brother <a href="http://www.chiramattel.com/sherry">Sherry</a>, we had a chance to taste a few.</p>

<p><a title="Tripel Karmeliet Beer" href="http://flickr.com/photos/36231893@N00/208831173"><img border="0" src="http://static.flickr.com/66/208831173_5c399fa96d_d.jpg" /></a></p>

<p>Note the amount of foam in the beer!<br/>
Each beer is served in specific glass with the name of the beer on it.</p>

<p>Pictures of a few more beer....</p>

<p><a href="http://flickr.com/photos/36231893@N00/208831302" title="Leffe Beer"><img border="0" src="http://static.flickr.com/93/208831302_704f05c251_m.jpg" /></a>   <a href="http://flickr.com/photos/36231893@N00/208831239" title="Delirium Tremens Beer"><img border="0" src="http://static.flickr.com/88/208831239_e603040452_m.jpg" /></a> <br/>
</p>

<p>And some sparkling wine too..</p>

<p><a href="http://flickr.com/photos/36231893@N00/208831077" title="Demi-sec Sparkling"><img border="0" src="http://static.flickr.com/64/208831077_205daba8ab_d.jpg" /></a></p>