Title: Consequence of the end of 'The Free Performance Lunch'!
Published: 08/25/2006
Tags:
  - Technology
----
<p>In the article titled '<a href="https://www.gotw.ca/publications/concurrency-ddj.htm">The Free Lunch Is Over: A Fundamental Turn Toward Concurrency in Software</a>', Herb <span>Sutter</span> explains the importance of improving our skills on writing concurrent programs - <span>ie</span> if we need to gain performance gains form all the multi-core CPUs that are <span>coming</span> out lately.</p>

<p>In this light, I have collected a series of articles that discuss this matter in detail. <br/>
</p>

<ul>
<li><a href="https://research.microsoft.com/%7Ebirrell/papers/ThreadsCSharp.pdf">An Introduction to Programming with C# Threads</a></li>
<li><a href="https://www.albahari.com/threading/index.html">Threading in C#</a></li>
<li><a href="https://msdn.microsoft.com/msdnmag/issues/06/09/CLRInsideOut/default.aspx?print=true"><span>CLR</span> Inside out: Using concurrency for scalability</a> [<span>MSDM</span> Mag <span>Sep</span> 2006]</li>
<li><a href="https://msdn.microsoft.com/msdnmag/issues/05/08/Concurrency/default.aspx?print=true">What Every Dev Must Know About <span>Multithreaded</span> <span>Apps</span></a> [<span>MSDN</span> Mag Aug 2005]</li>
<li><a href="https://msdn.microsoft.com/msdnmag/issues/06/04/Deadlocks/default.aspx?print=true">Advanced Techniques To Avoid And Detect Deadlocks In .NET <span>Apps</span></a> [<span>MSDN</span> Mag April 2006]</li>
<li><a href="https://weblogs.asp.net/justin_rogers/articles/126345.aspx"><span>WinForms</span> <span>UI</span> Thread Invokes: An In-Depth Review of Invoke/<span>BeginInvoke</span>/<span>InvokeRequred</span></a><br/>
</li>
</ul>
<p>Hope this helps.<br/>