Title: My first vacation Photo
Published: 08/03/2006
Tags:
  - Personal
  - Vacation
  - Europe Trip
----
<a href="http://flickr.com/photos/36231893@N00/205267865" title="Anu waiting at Paris airport"><img border="0" src="http://static.flickr.com/69/205267865_ed61c72538_d.jpg" /></a><br/>
<br/>
Ann waiting at the Paris airport. I am happy that I am shooting about 1 GB worth of pictures daily :-)<br/>