Title: Reached Rome and got pickpocketed
Published: 08/24/2006
Tags:
  - Personal
  - Vacation
  - Europe Trip
----
<p>We reached Rome by train (thanks to <a href="http://www.eurail.com"><span>Eurail</span> pass</a>) and within moments of getting off the train someone stole my valet! This is despite the fact that, I had kept the valet in my front pocket (which also had a zipper). The speed with which this happened took me off-guard. </p>

<p>I understand that such thieves act in <span>coordination</span> - one person would be responsible for distracting the victim and the second would do the actual act of stealing. <br/>
</p>

<p>This is how (I <span>presume</span>) it happened in my case. I took the metro pass from the vending machine and started waking towards the train. Just then I saw a lady (who was walking past me), '<span>accidentally</span>' drop a book. It was quite a heavy book and the sound of it hitting the floor was hard to miss. I was <span>surprised</span> that the lady did not <span>realize</span> this and prompted her about the same. <br/>
</p>

<p>It was probably during this that I got robbed. Having <span>successfully</span> distracted my <span>attention</span>, her <span>accomplice</span> would have easily taken my valet. The accomplice would have noticed where I had kept my valet after taking the metro ticket. <br/>
</p>