Title: My first month at Intuit Bangalore
Lead: My first month at Intuit Bangalore
Published: 6/06/2008
Tags:
  - Personal
----
<p>I just completed my first month at Intuit and I should say that I am thoroughly enjoying it here. There is lot of focus on innovation, both customer driven (something that Intuit has pioneered) and technology driven innovation. All of us have 10% unstructured time, where we can work on anything that is passionate to us. We also have 'IdeaJam', where we spend one full day hacking something that is really useful and cool! I have great colleagues who are passionate about what they do and are really fun to work with. I also get to learn a lot of new stuff - all in all a great place to be in!</p>  <p>P.S. The views expressed herein are my personal views and are not intended to reflect the views of my <a href="https://www.intuit.com/">employer</a>.</p>