Title: On Designing Good Libraries
Published: 01/08/2005
Tags:
  - Technology
  - Architecture
----

<p>An interesting blog by <a href="https://blogs.msdn.com/brada/">Brad Abrams</a> on <a href="https://blogs.msdn.com/brada/archive/2003/07/01/50088.aspx">designing good libraries</a>.<br></p>