Title: SilverLight 1.1 Alpha
Published: 5/02/2007
Tags:
  - Technology
----
<p>Microsoft announced the availability of SilverLight 1.1. </p> <p>You can get started by visiting <a href="http://silverlight.net/GetStarted/">here</a>. </p> <blockquote> <p>Microsoft Silverlight is a cross-browser, cross-platform plugin for delivering the next generation of .NET based media experiences and rich interactive applications for the Web. Silverlight offers a flexible programming model that supports JavaScript, .NET, and other languages.</p></blockquote> <p>This is really interesting. A 4 MB download that contains a Cross-Platform CLR and which supports a good subset of the BCL - including support for .Net 3.5 stuff like LINQ. </p>