Title: Devbagh beach resort
Published: 12/10/2006
Tags:
  - Personal
----
<p>The team that Ann belongs to (at PIC) decided to go on a trip to <a href="http://www.junglelodges.com/resort_overview.asp?resort=Devbagh">Devbagth beach resort</a>. They were kind enough to invite me also along - thank you guys.. :-) </p> <p>Devbagh is an Island resort located in North of Karnataka. We started off by train from Bangalore on Thursday night&nbsp;and reached Karwar&nbsp;on Friday morning. From there we took a bus till the resort. We started back home by Saturday evening and all the while we&nbsp;had lots of <a href="http://www.junglelodges.com/resort_activities.asp?resort=Devbagh">activities</a> to enjoy. </p> <p>I took a stroll around the island and was able to capture some nice shots. You can find more pictures <a href="http://flickr.com/photos/georgeck/tags/devbagh/">here</a>.</p> <p><a title="IMG_9333" href="http://www.flickr.com/photos/36231893@N00/313063448/"><img alt="IMG_9333" hspace="0" src="http://static.flickr.com/104/313063448_65150b6007.jpg" border="0"></a></p>