Title: Added TagCloud to my sidebar
Published: 10/13/2005
Tags:
  - Technology
----
<p>The following is a description of the service provided by <a href="http://www.tagcloud.com">Tagcloud</a>...<br />
<blockquote>TagCloud is an automated <a href="http://en.wikipedia.org/wiki/Folksonomy">Folksonomy</a> tool. Essentially, TagCloud searches any number of RSS feeds you specify, extracts keywords from the content and lists them according to prevalence within the RSS feeds. Clicking on the tag's link will display a list of all the article abstracts associated with that keyword.</blockquote><br />
I exported the blogs that I regularly read as an OPML file and provided this as an input to TagCloud to get this result. Now I can track the top 50 statistically unique things that are discussed on these blogs. Wonderful!</p>