Title: Choosing a good CMS for the FolkMind SourceForge project
Published: 10/18/2005
Tags:
  - Technology
  - FolkMind
  - OpenSource
----
 <p>I am in the process of choosing a good content management system for the <a href="https://www.chiramattel.com/george/blog/2005/10/14/folkmind_a_killer_app_for_the_1.html">FolkMind</a> SourceForge <a href="https://folkmind.sourceforge.net">homepage</a>.<br />
 My current choice is to either use <a href="https://www.Drupal.org">drupal.org</a>  or <a href="https://www.mediawiki.org">MediaWiki</a>. </p>

<p>If you are aware of better choice please share the same with me…</p>