Title: Created SourceForge project for FolkMind
Published: 10/18/2005
Tags:
  - Technology
  - FolkMind
  - OpenSource
----
<p>I have created a <a href="https://www.SourceForge.net">SourceForge</a> project for implementing FolkMind - a better Web 2.0 browser as described in my <a href="https://www.chiramattel.com/george/blog/2005/10/14/folkmind_a_killer_app_for_the_1.html">previous blog</a>.</p>

<p>I wanted to name the project as 'FolkMind - The browser for the virtual brain for humanity'. But because of SourceForge restrictions on the length of the name I had to cut it short as 'FolkMind - The virtualbrain of humanity'. </p>

<p>The project will be available at the following location: [<a href="https://folkmind.sourceforge.net">https://folkmind.sourceforge.net</a>]</p>

<p>If you are interested in contributing to this project, please do join in - I will definitely need some help.</p>

<p>Tags: <a href="https://technorati.com/tag/Web+20" rel="tag">Web 2.0</a>&nbsp;&nbsp;<a href="https://www.chiramattel.com/george/blog/2005/10/14/folkmind_a_killer_app_for_the_1.html" rel="tag">FolkMind</a></p>