Title: Finished updating my blog engine
Published: 10/15/2005
Tags:
  - Technology
----
 <p>I have finished upgrading to Moveable Type version 3.2.</p>

<p>I reorganized the way I achieves my blogs. Some of my old links may not work!<br />
So the previous permalinks may not work – but I learned my lesson and in future I will avoid any such confusion.</p>