Title: My two cents on Flock
Published: 10/21/2005
Tags:
  - Technology
  - FolkMind
  - OpenSource
----
<p><a href="https://www.Flock.com">Flock</a> which claims to be a Mozilla-based "social web browser" has released a preview <a href="https://www.flock.com/developer/">download</a>.</p>

<p>To me one of the primary benefit of social software is that it can take advantage of the collective intelligence of the community or the 'The wisdom of the crowds '. In this respect Flock has not yet reached the mark :-(</p>

<p>I can tag and blog stuff from within the browser. Thus a user who is doing the above stuff (pursuing selfish interests) builds collective value for the rest of the users as a side effect. But the same user is not able to reap the resultant benefits. </p>

<p>An example of how a user can benefit from the generated wisdom is like <a href="https://getoutfoxed.com">Outfoxed</a>, where the folk / community suggests better useful sites. </p>

<p>Another (better) example of a social browser could be <a href="https://george.chiramattel.com/blog/2005/10/folkmind-a-killer-app-for-the-1.html">FolkMind</a> - which is ofcourse not yet build :-) But all are welcome to <a href="https://sourceforge.net/projects/folkmind">contribue</a> to it.</p>