Title: Registered Folk-mind.org
Published: 10/27/2005
Tags:
  - Technology
  - FolkMind
  - OpenSource
----
<p>I have registered the domain <a href="http://www.folk-mind.org">folk-mind.org</a> and is in the process of configuring this domain to point to the <a href="http://folkmind.sourceforge.net">FolkMind SourceForge home</a>. Though I would have preferred a domain name with out the hyphen in between, all flavors of this (.com, .net and .org) are already taken :-(<br />