Title: Too much of information is no information
Published: 10/24/2005
Tags:
  - Technology
  - FolkMind
  - OpenSource
----
<p>I recently saw the movie <a href="http://www.imdb.com/title/tt0138704/">PI</a>, which is about a Math genius trying to figure out patterns in nature. I didn't like it very much, though <a href="http://www.IMDB.com">IMDB</a> users seem to have a different opinion. </p>

<p>One of the things that is said about the movie is that mathematicians have always tried to find repeating patterns in the expansion of PI and have come up with all possible sequences of numbers. This is another way of saying that there is no pattern in the expansion of PI (You won't believe it, but people have expanded pi to almost six and a half billion digits and you can get it from <a href="ftp://www.cc.u-tokyo.ac.jp/">here</a>).</p>

<p>To me this is similar to saying 'too much of information is no information'!; unless you have the right tools that can process all this data and present it in a meaningful way. This is very significant for the web which is the biggest source of information. Hence the need for better tooling - like  <a href="http://www.chiramattel.com/george/blog/2005/10/14/folkmind_a_killer_app_for_the_1.html">FolkMind</a>.</p>

<p>Let’s take <a href="http://News.com">News.com</a> as an example. Instead of presenting users with a long list of new stories, they have added tooling that can help readers make more sense of the information and help them realize the connection between stories – In short help users realize ‘<a href="http://bigpicture.news.com">The Big Picture</a>’. </p>

<p>So if we need to handle al the information that is available on the Internet, we need radically different tooling that can help us visualize the data in radically different way. </p>