Title: Back again
Published: 10/19/2004
Tags:
  - Technology
  - Personal
----

 <p>I was not able to blog for the past couple of days – I was migrating to a new hosting plan and in-between I got locked out off my own site!! Database issues :-)<br />
This site – <a href="https://chiramattel.com">chiramattel.com</a>, is currently hosted by <a href="https://www.accuwebhosting.com">accuwebhosting.com</a>. They have a <a href="https://www.accuwebhosting.com/standard-windows-webhosting.htm">starter plan</a> that that works out to about $45 a year.<br />
In this plan I get about 150 MB of storage, Asp.Net 1,1 on Win2K3 and other goodies like one MySql DB. I am very happy with their customer service engineers. They provide an online chat and they solve any issues that you might have.<br />
Good work guys...</p>