Title: FireFox
Published: 10/19/2004
Tags:
  - Technology
  - OpenSource
----

<p>I have been using <a href="https://www.mozilla.org/products/firefox/">FireFox</a> for quite some time and and am very happy with it.<br />
It has got some really nice features for developers like the <em>Dom Inspector</em> that helps you to visualize the HTML DOM.
<br />
It also comes with a lot of <a href="https://update.mozilla.org/?application=firefox">extensions</a>. </p>

<p>If you like this browser, please help <a href="https://www.spreadfirefox.com/">spread the word</a>..<br><br />
<img alt="FireFox.gif" src="https://www.chiramattel.com/george/blog/archives/Images/FireFox.gif" width="110" height="32" /><br></p>

<p><a href="https://www.chrispederick.com/about/">Chris Pederick's</a> <a href="https://www.chrispederick.com/work/firefox/webdeveloper/">web developer extension</a> is a really nice tool. Some of the features are:<br />
<blockquote>- Make live edits to the CSS of a web page..<br />
- Validate the CSS, HTML  and accessibility of a web page...<br />
- Add a style sheet from your machine to a web page, etc..</blockquote><br />
Take a look at some <a href="https://www.chrispederick.com/work/firefox/webdeveloper/screenshots/">screenshots</a>.</p>