Title: Google's Bangalore R&D Centre is hiring
Published: 10/19/2004
Tags:
  - Technology
  - Personal
----

<blockquote><a href="http://www.google.com/jobs/sw-bangalore.html">Google</a> has recently opened an R&D centre in Bangalore, India – our latest full-fledged engineering facility outside the United States. We're looking to hire talented software engineers, top programmers and visionary computer scientists.</blockquote>
Interesting...