Title: Interesting Site...
Published: 10/23/2004
Tags:
  - Technology
----

<p><a href="http://www.ssw.com.au/ssw/Standards/">Contains</a> a long list of what they term as 'standards'.<br />
<blockquote>Whenever you're doing something more than once there should be a standard. SSW standards manage our coding, project management, email and phone communication. However, we don't follow them blindly. If someone suggests a better way of doing something, then we change the standard.</blockquote></p>