Title: HiveMinder - an elegant web based organizer
Published: 3/06/2007
Tags:
  - Technology
----
<p>I started using <a href="http://hiveminder.com/" target="_blank">HiveMinder</a> from <a href="http://bestpractical.com/" target="_blank">Best Practical</a>. </p> <blockquote> <p><a href="http://hiveminder.com">Hiveminder</a> is a web-based tool to help you get (and stay) organized. Hiveminder helps you keep track of what you need to do, assign tasks to anyone with an email address and share tasks with anyone you collaborate with.</p></blockquote>I liked the fact that you can import tasks into the system by uploading a text file.