Title: More info on SVK
Published: 3/08/2007
Tags:
  - Technology
----
<ul> <li><a href="http://svkbook.elixus.org/">Book</a> on <a href="http://svk.elixus.org/">SVK</a>, similar to the <a href="http://svnbook.red-bean.com/">Subversion book</a>.</li> <li>Presentation given by Chia-liang Kao, at OSCON on '<b>svk: Version Control without the Headaches</b>'. Download presentation <a href="http://conferences.oreillynet.com/presentations/euos2005/kao_svk.tgz">here</a>.</li> <li>SVK -&nbsp;A visual guide - <a href="http://pickscrape.woobling.org/svk-visual-guide.pdf">PDF</a></li> <li>SVK <a href="http://www.bieberlabs.com/wordpress/svk-tutorials/">tutorial</a>.</li></ul> <p>If you have more info, please let me know.</p>