Title: Started NTrac on Google Code
Published: 3/06/2007
Tags:
  - Technology
----
<p>I wanted to create a DotNet port for <a href="https://trac.edgewall.org">Trac</a>. This will facilitate easy deployment and maintenance for Windows users. I will also adopt the same '<em>minimalistic approach</em>' to web-based software project management.</p>

<p><a href="https://code.google.com/p/ntrac/">Here</a> is the URL to the project. </p>