Title: Using SVK
Published: 3/08/2007
Tags:
  - Technology
----
<p>I came across some articles that describe <a href="http://svk.elixus.org/">SVK</a> as a better version control system, than say <a href="http://subversion.tigris.org/">SVN</a>. </p> <blockquote> <p><strong>svk</strong> is a decentralized version control system built with the robust <a href="http://subversion.tigris.org/">Subversion</a> filesystem. It supports repository mirroring, disconnected operation, history-sensitive merging, and integrates with other version control systems, as well as popular visual merge tools.</p></blockquote> <p>I already have an SVN server running at my home PC, and I am quite happy with the '<a href="http://tortoisesvn.tigris.org/">Tortoise SVN</a>' client. I came across SVK, when I was researching the possibility of&nbsp;maintaining an SVN mirror repository - especially useful if your SVN repository is hosted on a remote server.</p> <p>I will be documenting my experience with this, but if you have any comments, please do share...&nbsp;</p>