Title: Yet another Notepad replacement...
Published: 3/07/2007
Tags:
  - Technology
----
<p>I found <a href="http://www.flos-freeware.ch/notepad2.html">Notepad2</a> quite useful. Practically as fast as Notepad, but has syntax highlighting(for most common file types - HTML, XML, CSS, JavaScript, VBScript, ASP, PHP, CSS, Perl/CGI, C/C++, C#, Java, VB, Pascal, Assembler, SQL, Python, NSIS, INI, REG, INF, BAT, DIFF) and good regular expression search and replace.</p> <p>Other goodies include:</p> <ul> <li>Rectangular block selection (Alt-Mouse)  <li>Automatic closing of tags (Ctrl-Shift-H)  <li>Cut/copy entire lines with a keystroke (Ctrl-Shift-X/Ctrl-Shift-C)  <li>Move lines up/down (Ctrl-Shift-Up/Ctrl-Shift-Down)  <li>Remove blank lines (Alt-R)</li></ul> <p>Featured in <a href="http://www.windevpowertools.com/tools/67">Windows Developer Power Tools.</a></p> <p>&nbsp;</p><a title="Photo Sharing" href="http://www.flickr.com/photos/gchiramattel/413588857/"><img height="500" alt="Notepad2" src="http://farm1.static.flickr.com/162/413588857_1553a1a0f6.jpg" width="486"></a>