Title: Announcing DotSVN.Net site
Published: 9/19/2007
Tags:
  - Technology
  - .Net
  - OpenSource
----
<p>I have registered the domain <a href="http://www.dotsvn.net">dotsvn.net</a>. This will be the new home of DotSVN project. I will continue to host the code in google code itself.</p>

<p>The site is pretty empty right now. I am planning to get some content uploaded during the weekend.</p>

<p>I have also hosted the DotSVN Asp.Net sample at <a href="http://code.dotsvn.net">code.dotsvn.net</a>.<br />
This sample demonstrates basic functionality of browsing any subversion FSFS repository. My target is to make this as functional as <a href="http://bssvnbrowser.bountysource.com/">bsSvnBrowser</a>. You can see a live demo of bsSvnBrowser <a href="https://bssvnbrowser.bountysource.com/svn">here</a>.</p>

<p>Once this code becomes feature complete, I will be using the same for the <a href="http://ntrac.googlecode.com">nTrac</a> project.</p>