Title: DotSVN progress
Published: 9/11/2007
Tags:
  - Technology
  - .Net
  - DotSVN
  - OpenSource
----
 I am personally quite happy with the progress that I could make on DotSVN. 
Using this library, it is currently possible to do the following operations. 
<ul>
	<li>Open an FSFS SVN repository</li>
	<li>Enumerate its contents</li>
	<li>Retrieve the properties collection of each element</li>
	<li>Get the contents as a stream</li>
</ul>
I have also added three sample application. One is a console based application. The second one is a WinForms GUI sample that is very similar to the TortoiseSVN repository browser. The third one, is a browser based SVN repository viewer using Yahoo UI controls.<br/>
<img src="http://farm2.static.flickr.com/1299/1357002062_93981d4e86_o.png" /> <br/>