Title: FireBug is an amazing FireFox plugin for developers
Published: 9/12/2007
Tags:
  - Technology
----
<p>I have been using <a href="https://www.getfirebug.com/">Firebug</a> Firefox plugin. This is a really useful tool, and I would definitely recommend this for anyone who is interested in Web development. If you are new to this tool, I suggest that you go through this <a href="https://www.ddj.com/development-tools/196802787">article</a>, as a good introduction. </p>

<p>I have captured a few scenarios where this proved useful to me.</p>

<p><b>JavaScript debugging</b><br />
Javascript debugging is a really compelling feature of Firebug. <br />
</br><img src="https://farm2.static.flickr.com/1333/1364086535_3fa7416c8b_o.png" width="779" height="629" alt="FireBug JavaScript Debugging" /></br><br />
As you can see, you can easily put break-point and step through .js loaded in the browser.</p>

<p><b>Network Monitoring</b></br><br />
FireBug can present a time-line of the various resources downloaded to render a given page. This is very useful for understanding performance issues with a page.<br />
<img src="https://farm2.static.flickr.com/1178/1364042259_a151a0b3f0_o.png" width="764" height="338" alt="FireBug Network Monitoring" /></br></p>

<p><b>XML HTTP Request monitoring (XHR)</b></br><br />
With this feature, we can track the actual request and response between the browser and server.<br />
I used this feature to track the JSON response from the DotSVN server.  <br />
<img src="https://farm2.static.flickr.com/1108/1364086531_2d31cb5a52_o.png" width="779" height="629" alt="FireBug Console XHR monitoring" /></p>
