Title: Tools used for DotSVN - Resharper
Published: 9/21/2007
Tags:
  - Technology
----
<p>I have been using a trial version of <a href="http://www.jetbrains.com/resharper/">ReSharper</a> for my <a href="http://www.dotsvn.net">DotSVN</a> project and I should say that I just got hooked to it. I would not have made this much progress without it and that leaves me wondering what I would do once the trial expires!!</p>

<p>A tool with this ease of use is needed to improve the design and code without any hesitation to refactor.<br />
ReSharper's code navigation capabilities are also extra ordinary. You can read more about it <a href="http://www.jetbrains.com/resharper/features/">here</a>.</p>

<p>I have also used <a href="http://www.jetbrains.com/profiler">dotTrace</a> to fix a nasty <a href="http://www.chiramattel.com/george/blog/2007/09/19/performance-of-datetime-parse.html">performance issue</a>.</p>

<p>Overall I am very satisfied with the product. </p>
