Title: I never thought I could capture this...
Published: 09/12/2005
Tags:
  - Personal
  - Photography
----
 <div style="float: right; margin-left: 10px; margin-bottom: 10px;">
 <a href="https://www.flickr.com/photos/georgeck/39306260/" title="photo sharing"><img src="https://static.flickr.com/33/39306260_aa2c16f34a_m.jpg" alt="" style="border: solid 2px #000000;" /></a>
 <br />
</div>
Amidst all the heavy rain that we were getting recently, I was happy to see the sky clear up so brightly. <br />
<br />
Took a shot and it came out quite well – thought of sharing with you all. <br />
Let the sky brighten up your day:-)