Title: Community Server 1.0
Published: 01/03/2005
Tags:
  - Technology
----

<p><a href="https://www.telligentsystems.com/Solutions/Forums">Community Server :: Forums</a> (A .NET Open source discussion engine.), <a href="https://www.telligentsystems.com/Solutions/Blogs/">Community Server :: Blogs</a> (A .NET Open source blogging engine) and <a href="https://www.telligentsystems.com/Solutions/Gallery/">Community Server :: Gallery</a> (A .NET Open source photo gallery) all rolled up into one package called Community Server 1.0.<br />
According to <a href="https://weblogs.asp.net/rhoward">Rob Howard</a>, they have started work on version 1.1 with the following theme.<blockquote><strong>Performance</strong> - we intend to run both www.asp.net/forums and blogs.msdn.com on Community Server. Today these sites serve millions of users on the same 2 web servers and single database server. We've introduced new architecture into Community Server and we expect performance and scale to be better overall, but we know we'll identify some new issues with these high traffic sites.<br />
<strong>Simplification</strong> - We want to focus on simplifying the platform. We are going to introduce more wizard as well making the administration UI even more user friendly.<br />
<strong>Quality</strong> - A big goal for Community Server was to release a product that was of very, very high quality. We are shipping with defects - actually about 50 that we know about - but most are minor and have acceptable workarounds. We fixed over 900 bugs (that we tracked). Our goal for 1.1 is to make the platform even better than 1.1</blockquote><br />
You can get it <a href="https://www.telligentsystems.com/Solutions/license.aspx?File=cs_1.0.exe">here</a>.<br />
Go Ahead and have fun!</p>