Title: FlipThroughMovies.com has a new theme
Lead: A new theme for FlipThroughMovies
Published: 8/17/2010
Tags:
  - FlipThroughMovies
---
<p>Last night we rolled out a new theme for <a href="http://www.flipthroughmovies.com/">FlipThroughMovies.com</a>.<br/>
<br/>
<a href="http://www.flipthroughmovies.com/" title="FlipThroughMovies by George C K, on Flickr" target="_new"><img src="http://farm5.static.flickr.com/4073/4901284651_2e3d99a24d.jpg" width="500" height="398" alt="FlipThroughMovies.com home" /></a></p>

We have also made it easy for you to share your feedback. So keep 'em coming :)