Title: Launched FlipThroughMovies.com
Lead: I am happy to announce the launch of FlipThroughMovies.com.
Published: 8/15/2010
Tags:
  - FlipThroughMovies
----
<p>I am happy to announce the launch of <a href="https://www.flipthroughmovies.com">FlipThroughMovies.com</a>. This is the culmination of the hack that we worked on during <a href="https://openhackindia.eventbrite.com/">Yahoo OpenHack</a>. You can use this site to navigate through movies available at BigFlix, the popular movie rental site in India.<p>

<p>The site uses publically available data from BigFlix and presents it in very interesting manner - check out the video to get a feel of the site's capabilities.&nbsp;</p>

<p style="text-align: center;"><i>*Please view in HD and in FullScreen mode*&nbsp;</i></p>

<iframe width="1280" height="720" src="https://www.youtube.com/embed/fy6nR1naxOY?rel=0" frameborder="0" allowfullscreen></iframe>

<p><br /></p>

<p>I would like to acknowledge the contribution of the following three individuals in making this site a success.</p><ul>
      <li>Ann Catherine Jose</li><br />
      <li>Manojayan Vembakkam</li><br />
      <li>Ram Adhikari</li><br />
      <li>Yours truly :)</li></ul>
<p>Some technical highlights that might interest you:</p>
<ul>
<li>We used <a href="https://www.getpivot.com/">Microsoft Silverlight Pivot control</a> to visualize the data</li>
<li>The site is powered by about 2 GB of data. We are using <a class="zem_slink" href="https://aws.amazon.com/s3" title="Amazon S3" rel="homepage">Amazon S3</a> to store this data</li>
<li>To enable efficient delivery, we are using Amazon <a class="zem_slink" href="https://aws.amazon.com/cloudfront/" title="CloudFront" rel="homepage">CloudFront</a> for <a class="zem_slink" href="https://en.wikipedia.org/wiki/Content_delivery_network" title="Content delivery network" rel="wikipedia">CDN</a> '<a class="zem_slink" href="https://en.wikipedia.org/wiki/Edge_computing" title="Edge computing" rel="wikipedia">edge caching</a>'.</li></ul>
I will write a different post explaining other difficulties that we faced on getting this site up and running.<p></p>
