Title: First version of IL parser
Published: 8/16/2004
Tags:
  - Technology
  - OpenSource
----
<p>I have finished writing a very simple demo application for my <a href="http://www.chiramattel.com/george/Default.aspx?ptabindex=2&ptabid=6">MSIL Parser porject</a>. This <a href="http://www.chiramattel.com/george/blog/archives/ILParser.zip">demo</a> takes an IL file as an argument and outputs the parsed data into the console.</p>

<p>I am using a compiled grammar file made by <a href="http://www.devincook.com/goldparser/" target="new">Goldparser</a>. Currently there is a bug in the <a href="http://www.devincook.com/goldparser/download/engine/index.htm"  target="new">parser module</a> of this application. When really big IL files are given for parsing, this module throws an <br>IndexOutOfRangeException</b> exception.</p>
