Title: Where have all the ASSERTs gone?
Published: 8/15/2004
Tags:
  - Technology
----
<p>Wile developing MFC based applications, I used a lot of <b>ASSERT</b> statements. But when developing C# applications, I see that very few people are using this. </p>

<p>For me using ASSERT macros was a way of enforcing '<a href="http://www.eiffel.com" target='new'>Design by Contract</a>'. May be we should have a better mechanism in C#. </p>

<p>I have a few ideas on how to do this with .Net attributes. I will write bout this shortly.</p>
