Title: Automatic OPML sync for Flock
Published: 09/28/2006
Tags:
  - Technology
----
<p>I have almost fully switched to <a href="http://flock.com/">Flock</a> as my primary browser. It is a port of the FireFox browser with some of the online services build in. The services include:</p> <ul> <li>Blog publishing (with a build-in blog editor) - Though I prefer <a href="http://ideas.live.com/programpage.aspx?versionId=4372c8c2-b76f-4d44-aea1-9835b61d8dc1">Windows Live Writer</a>.  <li>Photo services using <a href="http://flickr.com">Flickr</a> or <a href="http://photobucket.com">PhotoBucket</a>  <li>Favorites sharing using <a href="http://del.icio.us/">del.icio.us</a> or <a href="http://www.shadows.com">shadows</a>  <li>And a build-in feed reader</li></ul> <p>The missing element is synchronizing the feed list (OMPL) with some online feed service. Hope they build it in soon...</p>