Title: Migrated Chiramattel.com to a new hosting provider
Published: 09/27/2006
Tags:
  - Technology
----
 <p>We had been using the service of <a href="https://AccuWebHosting.com">AccuWebHosting</a> for hosting this site. The contract with them expired last week, so we decided to look for other alternatives. After some search, we settled on <a href="https://AspNix.com">AspNix</a>. </p>

<p>This was primarily because:<br />
 - They provide Asp.Net 2.0 and SQL server 2005 support on Win2K3<br />
 - 1 GB dedicated storage for the database<br />
 - 50 GB bandwidth per month.<br />
 - And also, they are known to provide good support for <a href="https://www.CommunityServer.org">CommunityServer</a></p>

<p>Overall the migration process was flawless. I am currently evaluating the use of CommunityServer in this site. I will publish my finding in another blog.</p>