Title: On Intelligence
Published: 09/27/2006
Tags:
  - Technology
----
<p>I am currently listening to the audio book titled '<a href="www.amazon.com/On-Intelligence-Jeff-Hawkins/dp/0805074562">On Intelligence</a>' by <a href="http://www.onintelligence.org">Jeff Hawkins</a>, who is also the CEO of Palm computing. The author is presenting a unified theory on how the brain works and how this knowledge can be used to create really <i>intelligent</i> machines.<br />
Some of his ideas are quite profound, and will defiantly influence my thoughts on how <a href="http://Folk-Mind.org">FolkMind</a> should be build. <br />
I will write more about this once I finish the book.</p>