Title: Philips Innovation Campus, Bangalore celebrates 10 years of operation
Published: 09/15/2006
Tags:
  - Personal
----
<p>The company that I work for (<a href="https://www.bangalore.philips.com/html/index.asp"><span>Philips</span> Innovation Campus</a>), recently celebrated 10 years of operation. The celebration lasted for a whole week. Various fun-filled events were schedules through out the week and we had a grand party on the week end. </p>

<p>As a gesture of happiness, the Philips management announced to gift all <span>PIC</span> employees with a <a href="https://www.consumer.philips.com/consumer/catalog/tree/PORTABLE_ENTERTAINMENT_GR_IN_CONSUMER/product/SA1115_97_IN_CONSUMER/catalog.jsp?language=en&amp;country=IN&amp;catalogType=CONSUMER">Philips MP3 player.</a></p>

<p>So today I received my player and here is a photo of the same..<br/>
<a href="https://flickr.com/photos/36231893@N00/243832055" title="SA1115_97"><img border="0" src="https://static.flickr.com/80/243832055_e66f1482a0_m.jpg" /></a> </p>
