Title: What's all the fuss about Movable Type 3.3
Published: 09/12/2006
Tags:
  - Technology
----
<p><a href="https://www.sixapart.com/">Six Apart</a> announced on their site that they have released <a href="https://movableType.org">Movable Type</a> ver 3.3. I was planning to revamp my blog and thought of using this occasion to upgrade the blog engine to 3.3. I followed the instructions and the upgrade went smoothly - except that now, parts of the system reports that the system is running ver 3.3 and at other parts it still shows ver 3.2.</p> <p>Also the download always points to 'MT-3.32-en_US.zip'. Strange!!</p>