Title: D-Day minus 1
Published: 07/28/2006
Tags:
  - Personal
  - Vacation
  - Europe Trip
----
<p>I have just one more day to finish all the preparation for my <a href="https://george.chiramattel.com/blog/2006/07/14/europe_vacation.html">vacation</a>. </p>

<p><br/>
Yesterday, I <span>dropped</span> my daughter, <a href="https://flickr.com/photos/georgeck/tags/liza">Liza</a> with me parents at <span>Trivandrum</span>. My original plan was to fly with her to my home town on July 27th and come back on 28th. I chose to fly <a href="https://www.airdeccan.net/">Air Deccan</a> as they offered the most economical package. <br/>
</p>

<p>After I had booked my tickets, I <span>realized</span> that this was really a bad idea. Air Deccan is known for flight delays and there are many <span>occasions</span> where they cancel their flights also. So if my flight back from <span>Trivandrum</span> gets delayed by more than 5 hours (which I understand is quite common with this airline) then I will miss my Amsterdam flight. This was too much a risk to take.</p>

<p>So I managed to <span>prepone</span> my travel back. As there is limited air connectivity to <span>Trivandrum</span>, <span>prepoing</span> would mean that I will be flying back in the same flight! This turned out to be trickier than I had expected! I had less than 10 min to disembark, hand over Liza to my parents (who were waiting for us at the airport) and board the same flight back. <br/>
</p>

<p>The ground staff also helped me. When I got out of the <span>plane</span>, there was someone from ground staff,  waiting for me. He hurried me through and lead me directly to my parents. Once Liza was safe with them, they again hurried me to the security check, where my boarding pass was kept ready. After all this, I was the last person to <span>board</span> the flight.</p>

<p>But, like they say, "All is well that ends well!'.<br/>
 </p>