Title: Europe vacation
Published: 07/14/2006
Tags:
  - Personal
  - Vacation
  - Europe Trip
----
 <p>As described in her <a href="https://www.chiramattel.com/ann/blog/archives/2006/06/25/trip_to_europe.html">blog</a>, both me any my wife are planning a vacation to Europe. Our initial idea is to visit the following places:</p>

<ul>
<li>London<br/>
</li>
<li>France (Paris)<br/>
</li>
<li>Germany<br/>
</li>
<li>Amsterdam<br/>
</li>
<li>Rome<br/>
</li>
<li>Venice <br/>
</li>
<li>Belgium</li>
</ul>
I will try to maintain a journal of the trip <a href="https://travel.yahoo.com/trip?pid=721232&amp;action=view">here</a>. If you have any suggestions, you can post them as a comment to this blog.<br/>
<br/>