Title: Intuitive error messages in Windows Vista
Published: 07/13/2006
Tags:
  - Technology
----
<p>I guess this is self explanatory...</p>

<p><a href="https://flickr.com/photos/36231893@N00/188604175" title="Intuitive Error message in Vista"><img src="https://static.flickr.com/1/188604175_d2bcce4499_d.jpg" /></a></p>