Title: Reached Paris
Published: 07/29/2006
Tags:
  - Personal
  - Vacation
  - Europe Trip
----
<p>We reached Paris at 8:45AM local time on 29th July. The flight was quite OK. 
If we choose English instead of French as the language, then the in-flight personal entertainment system would crash. This happened for Ann also. But both of us were quite tired and we had a nice sleep and this was not too much of a botheration. 

<p>The next flight to Amsterdam will be at 11:35. <br /><br />
</p></p>

<p>[I could not find any public Internet, so I am writing this blog offline] <br />
</p>