Title: Safari Books Online
Published: 07/06/2006
Tags:
  - Personal
  - Technology
----
 <p>I have subscribed to <a href="http://safari.oreilly.com/"><span>Safai</span> Books <span>Online</span></a>. This is an electronic <span>reference</span> library (with over over 3,700+ books) targeted for programmers and IT professionals. It allows you to:</p>

<ul>
<li><span class="b">Search</span><span> across the full text of thousands of the best 
technical books.</span></li>
<li><span class="b">Browse</span><span> books by category to research any technical 
topic.</span></li>
<li><span class="b">Read</span><span> books cover to cover <span>online</span>.</span></li>
<li><span>Or even </span><span class="b">download</span><span> whole chapters for printing and viewing 
<span>offline</span>.</span></li>
</ul>
<span>The publishers include <br/>
</span><ul>
<li><span>O'Reilly</span></li>
<li>Addison Wesley</li>
<li><span>Sams</span></li>
<li>Prentice Hall</li>
<li>Que</li>
<li><span>Cisco</span> Press</li>
<li>Microsoft Press</li>
<li><span>Peachpit</span> Press</li>
<li>New Riders Publishing</li>
<li>Alpha Books</li>
<li>Course Technology</li>
<li>IBM Press</li>
<li><span>Macromedia</span></li>
<li>Adobe Press</li>
<li><span>Syngress</span></li>
<li>and others....</li>
</ul>
<p>If you are interested, you can subscribe for a 14 day trial <a href="http://safari.oreilly.com/tryitfree">here</a>.</p>

<p>Happy <span>online</span> reading!!<br/>
</p>