Title: Trouble installing Audigy 2 NX and Promise 378 controller in Windows Vista Beta 2
Published: 07/15/2006
Tags:
  - Technology
----
<p>The PC that I assembled at home has an <a href="http://www.asus.com/products.aspx?l1=3&amp;l2=14&amp;l3=67&amp;model=235&amp;modelmenu=1"><span>Asus</span> K8V SE Deluxe</a> motherboard. This board has a build-in <a href="http://www.promise.com">Promise</a> <span>Fasttrak</span> 20378 <span>SATA</span> controller. The Vista default installation did not <span>recognize</span> this controller.</p>

<p>I did some <span>googling</span> and found <a href="http://www.planetamd64.com/lofiversion/index.php/t23640.html">this</a> article that describes the problem. I tried the solutions that are <span>suggest</span> in the article, but <span>with</span> no success.</p>

<p> <a href="http://flickr.com/photos/36231893@N00/189588163" title="Audigy 2 NX"><img src="http://static.flickr.com/52/189588163_1b04604672_d.jpg" /></a></p>

<p>I am also having trouble getting Vista to <span>recognize</span> my external <span>USB</span> sound card (<a href="http://www.soundblaster.com/products/product.asp?category=1&amp;subcategory=204&amp;product=9103">Creative Audigy 2 NX</a>). <br/>
</p>

<p>If someone has any idea on how to solve this, please let me know by dropping a comment.<br/>
</p>

Thanks.