Title: Vista System Performance Rating
Published: 07/13/2006
Tags:
  - Technology
----
 <p>I managed to install 'Windows Vista Ultimate' Beta 2 (Build 5384) on a Dell Precision <span>work station</span> 360. The machine was running a 3.2 G Hz Pentium 4 and had 1GB main memory and 80GB SCSI disk. It also had a <span>NVIDIA</span> <span>Quadro</span> <span>Fx</span> 500 display card with 128 MB graphics memory. </p>

<p><span>Pre</span> Windows Vista, the above configuration can be considered 'good-enough' for normal usage. But I was surprised to find that the Vista gave it an overall System <span>Performance</span> Rating of just 2!</p>

<p><a href="http://flickr.com/photos/36231893@N00/188600993" title="Vista System Perfformance Rating"><img src="http://static.flickr.com/60/188600993_f14798603c_d.jpg" /></a></p>

<p>With this rating, Vista will not enable the 3D desktop features. I guess, 128 MB <span>graphics</span> memory is too little for Vista!<br/>
</p>