Title: Vista clock applet, with multiple time zone support
Published: 07/14/2006
Tags:
  - Technology
----
<p>This is to describe once nice feature that I found in the Beat 2 version of Vista. Vista can display  clocks in multiple (up to three) time zones. This is how it normally looks in the tray.</p>

<p><a title="Vista - Aditional Clocks in tray" href="http://flickr.com/photos/36231893@N00/189436726"><img src="http://static.flickr.com/78/189436726_b87675cca7_m.jpg" /></a></p>

<p>And when you click on it, you get this picture..</p>

<p><a title="Vista - Aditional Clocks Display" href="http://flickr.com/photos/36231893@N00/189436773"><img src="http://static.flickr.com/77/189436773_568b81df35_d.jpg" /></a></p>

<p>This is the settings pane for configuring additional time zones.</p>

<p><a title="Vista - Settings for Aditional Clocks" href="http://flickr.com/photos/36231893@N00/189436751"><img src="http://static.flickr.com/53/189436751_0a8c7d00d8_d.jpg" /></a></p>