Title: Web 2.0 tools to help plan and track my vacation
Published: 07/10/2006
Tags:
  - Technology
  - Web 2.0
  - Vacation
  - Europe Trip
----
<p>This is to list the set of web 2.0 tools that I am using to plan and track my <a href="https://george.chiramattel.com/blog/2006/07/14/europe_vacation.html">vacation</a>.</p>

<p><strong>Google spreadsheets</strong>:</p>

<p>We are using <a href="https://spreadsheets.google.com">Google Spreadsheets</a> to consolidate all the data that we are getting from the web. <br/>
</p>

<p><a title="Plans" href="https://flickr.com/photos/10077187@N00/193581448"><img src="https://static.flickr.com/68/193581448_a9ec2c841d_d.jpg" /></a></p>

<p>This is really useful when multiple people are <span>simultaneously</span> gathering data (my brother and sister-in-law who are currently in Belgium are also actively involved). With this tool, I can share my spreadsheet with multiple people and all of us can <span>simultaneously</span> edit the contents. This also helps in keeping the data always in sync. <br/>
</p>

<p>Great tool!</p>

<p><strong>Yahoo Trip <span>planner</span></strong>:</p>

<p><a href="https://travel.yahoo.com/trip">Yahoo trip planner</a> helps in trashing out the next level of details in the trip schedule. <br/>
</p>

<p>The process starts by specifying the start and end date of the trip. Once this is doe, we can start to add meat to the schedule. <br/>
</p>

<p>Yahoo also facilitates this process:</p>

<ul>
<li>It lets you check what others have done on similar vacations</li>
<li>Helps you decide on what to do at different locations, by giving a list of things to choose from (with user reviews/ratings).</li>
<li>Also integrates with <span>Flickr</span>. So if you have uploaded some photos, this tool helps you associate different photo with different locations.</li>
<li>Helps in creating a trip journal.</li>
</ul>
<p>I have just started my planning <a href="https://travel.yahoo.com/trip?pid=721232&amp;action=view">here</a>. Again, this tool helps in keeping the plans made by all of us in sync.</p>

<p><a title="Yahoo-Planner" href="https://flickr.com/photos/10077187@N00/193586019"><img src="https://static.flickr.com/78/193586019_78942a7400_d.jpg" /></a></p>

<p><strong>Google calendar</strong>:</p>

<p>Though Yahoo trip will help you <span>create</span> an agenda for the vacation, if we need more fine grained detail, we need a real calender. That is where <a href="www.google.com/calendar">Google calendar</a> comes in. <br/>
</p>

<p>Google also lets you <span>publish</span> this calendar where ever you want. And <span>of course</span>, multiple people can <span>simultaneously</span> add to the calender. <br/>
</p>

<p>I have published our calender at my site <a href="https://chiramattel.com/Default.aspx?ptabindex=1&amp;ptabid=16">here</a>.</p>