Title: WonderLa Park - One reason for popularity of my blog!
Published: 07/20/2006
Tags:
  - Personal
  - Technology
----
 <p>My web site statistics (which I maintain through <a href="https://www.google.com/analytics">Google Analytics</a>) shows that, most new people (around 80%) find my blog through Google search. <br/>
</p>

<p><a title="Visits by Source" href="https://flickr.com/photos/10077187@N00/193561312"><img src="https://static.flickr.com/68/193561312_a1d52b1ebc_d.jpg" /></a></p>

<p>I guess this is normal. But the strange thing is that, the most searched term on my site is "<span>WonderLa</span>". So naturally, the most popular content on my site is this <a href="https://chiramattel.com/george/blog/2005/11/05/wonderla_theme_park.html">blog entry</a> that I made about my <span>visit</span> to <a href="https://wonderla.com/"><span>WonderLa</span> theme park</a>.</p>

<p>Till recently, a search for the term '<span>WonderLa</span>' on Google used to return my blog as the first entry. This shows that flash based site gets poorly indexed by search engines.</p>

<p>So, for those new visitors who are looking for <span>WonderLa</span>, please see the photos that I have uploaded into <span><a href="https://flickr.com/photos/georgeck/tags/wonderla/show">Flickr</a></span>. <br/>
</p>