Title: Digg FolkMind 
Published: 11/13/2005
Tags:
  - Technology
  - FolkMind
  - OpenSource
----
 <p>According to <a href="http://Digg.com">Digg.com</a>, this is what they are all about:<br />
<blockquote>Digg is a technology news website that combines social bookmarking, blogging, RSS, and non-hierarchical editorial control. With digg, users submit stories for review, but rather than allow an editor to decide which stories go on the homepage, the users do.</blockquote></p>

<p>Also the readership of digg is nearing that of <a href="http://slashdot.org">slashdot.org</a>. They are so successful that people are already making digg clones. One such example is <a href="http://www.shoutwire.com/">shoutwire</a>.</p>

<p>I have posted FolkMInd on Digg. So if you like the idea of FolkMind please help me spread the word.<br />
 * Link to <a href="http://digg.com/technology/Is_FolkMind_better_than_Google_">Digg</a> the first article.<br />
 * <a href="http://digg.com/technology/Is_FolkMind_better_than_Google_-_Part_2">Link</a> to the second blog</p>

<p>Thanks</p>