Title: FolkMind is getting some attention!
Published: 11/13/2005
Tags:
  - Technology
  - FolkMind
  - OpenSource
----
<p>The total number of links returned by Google when you search for <a href="https://www.google.co.in/search?q=FolkMind">FolkMind</a> has crossed 500. That is nice...<br />
MSN is also returning similar number of links, but Yahoo is way behind.</p>

<p>Some interesting facts about <a href="https://www.google.com">Google </a>results:<br />
 * The first two links that Google returns point to my Blog and the primary blog entry on the subject.<br />
 * The third link points to the <a href="https://sourceforge.net/projects/folkmind/">SourceForge project on FolkMind</a>.</p>

<p>With <a href="https://search.MSN.com">MSN</a> the results are similar, but the order is the reverse.</p>

<p><a href="https://search.yahoo.com">Yahoo</a> return only about 120 links, but the first few results are very similar to MSN.</p>

<p>So Yahoo and MSN seem to give more priority to a higher ranking web site.</p>