Title: Google Analytics
Published: 11/10/2005
Tags:
  - Technology
----
<p>According to Google, this is what they do..<br />
<blockquote><a href="https://www.google.com/analytics/">Google Analytics</a> tells you everything you want to know about how your visitors found you and how they interact with your site. You'll be able to focus your marketing resources on campaigns and initiatives that deliver ROI, and improve your site to convert more visitors.</blockquote></p>

<p>The process of enabling this on my <a href="https://chiramattel.com/george">site</a> and blog was quite straight forward. I can start viewing reports after 24 hours...</p>