Title: Interested in joining the FolkMind team?
Published: 11/13/2005
Tags:
  - Technology
  - FolkMind
  - OpenSource
----
 <p>When I put up the <a href="http://sourceforge.net/people/?group_id=150793">recruitment notice</a> at SourceForge I got around five response. Before taking in any one, I thought of defining some basic expectations from my side.</p>

<p>First I need to know if you are really interested in the idea behind FolkMind. <br />
A good way of demonstrating this to me is by sending me a MindMap of what you think of FolkMind. A <a href="http://freemind.sourceforge.net">FreeMind</a> is a good tool with which you can do this (and like the name implies it is free :-) ). If you are not using this tool, send me the stuff that you create as a picture.</p>

<p>Second I need to know how good you are with implementing stuff and if you are used to the open source model of working. A pointer to any implementation that you have done (or help build) would be good enough. Obviously it should be available online – preferably on source forge.</p>

<p>If interested please send the above mentioned details to folkmind at gmail dot com</p>