Title: Introducing the first movers
Published: 11/12/2005
Tags:
  - Technology
  - FolkMind
  - OpenSource
----
<p>It is encouraging to see that many people have shown interest to help build FolkMind. <br />
The following are the official members in the <a href="https://sourceforge.net/projects/folkmind/">FolkMind SourceForge project</a>:</p>

<p> * C.Sylesh - A former colleague of mine. A really smart guy.<br />
 * Ann Catherine - My wife. We have been brainstorming this idea much before I started speaking about it.</p>

<p>There are others who are unofficially working for FolkMind. They will soon join the SourceForge project.</p>