Title: Others who are working on similar lines as FolkMind
Published: 11/13/2005
Tags:
  - Technology
  - FolkMind
  - OpenSource
----
<p><a href="http://www.quintura.com">Quintura</a> is a compamny that is working on solving the search problem. The following is a list of problems they are working on:<br />
<blockquote> 1. Inability to define, manage and visualize the context for your keyword<br />
 2. Documents ranked by a search engine according to an algorithm specific to a search engine, and not specific to your interests<br />
 3. Over-ranked commercial and under-ranked non-commercial search results<br />
 4. You spend time on the first few pages of the search results, and don't have time or patience to go beyond the first and second page<br />
 5. Your search results don't always capture your trusted and valued sources</blockquote><br />