Title: Some statistics from Google Analytics
Published: 11/21/2005
Tags:
  - Technology
----
<a href="https://www.google.com/analytics">Google Analytics</a> service was quite erratic when it was launched, but it soon stabilised and gave me some insights that I would like to share. <br /><br />
<div class="flickr-frame"><a href="https://www.flickr.com/photos/georgeck/65158496/"><img src="https://static.flickr.com/24/65158496_1f60ba9779.jpg" class="flickr-photo" alt="" /></a></div><br />
The above figure shows the geographic spread of visitors to my blog. Most of the traffic has been from the US and the Europe.<br />This is a more detailed distribution for the above graph.<br />
<img alt="Country.gif" src="https://george.chiramattel.com/blog/Country.gif" width="410" height="178" /><br />
<br /><br />
<img alt="Browser.gif" src="https://george.chiramattel.com/blog/Browser.gif" width="410" height="177" /><br />
<br /><br />
Another interesting thing is that, most of my visitors were using <a href="www.mozilla.org/products/firefox">FireFox</a>. And the following figure shows that they had a pretty updated version of FireFox.<br /><br />
 66% of them used the latest stable version and around 9% of them are using the <a href="https://download.mozilla.org/?product=firefox-1.5rc3&os=win&lang=en-US">1.5 RC</a>.<br />
<img alt="FireFox.gif" src="https://george.chiramattel.com/blog/FireFox.gif" width="408" height="175" /></p>