Title: Value of links
Published: 11/25/2005
Tags:
  - Technology
----
<p>In my previous <a href="http://www.chiramattel.com/george/blog/2005/11/21/you_can_speak_freely_but_they.html">blog</a>, I had talked about online currency and In this context I liked what <a href="http://www.buzzmachine.com/index.php/2005/08/13/wired/">Jeff Jarvis</a> said.<br />
<blockquote>In this new world, links are currency. Links grant authority. Links build branding. Links equal value.</blockquote></p>