Title: WonderLa Theme Park
Published: 11/05/2005
Tags:
  - Personal
----
<div class="flickr-frame">
    <a href="http://www.flickr.com/photos/georgeck/58595123/" title="photo sharing"><img src="http://static.flickr.com/25/58595123_e02e7f7de5.jpg" class="flickr-photo" alt="" /></a>
<br /></div>
                
<p class="flickr-yourcomment">
    Anu's brother Philip and family visited us during Deepavali. Together we visited <a href="http://wonderla.com/">WonderLa</a>, a newly opened theme park near my place (around 40 KM away from Bangalore, on the way to Mysore). <br />
<br />
All of us, including my 2.5 year old daughter Liza, enjoyed this very much. <br />
<br />
I will be post more photos on <a href="http://www.flickr.com/photos/georgeck">Flickr</a>.