Title: You can speak freely, but they will hear you only if you pay!
Published: 11/21/2005
Tags:
  - Technology
----
<p>Strange! But that is how the Internet works. There is practically very little entry barrier for publishing content (one's opinion) on the Internet. But unless you have the right currency or asset, the rest of the world will not be able to see/hear your what you have to say. </p>

<p>Let me explain this in a better way. For most people, search engines have become the primary entry point into the web. The result of a search is sorted based on relevance that the search engine associates with that particular content. Though most search engines have different ways of finding relevance, the most popular way of inferring this is by looking at what other Internet users have to say about the specific topic. </p>

<p>For newly published content, this will result in a catch-22 situation. Because the relevance is low, others users will not be able to find this. And unless they are able to find  this data, they will not be able to vouch for it. The easiest way out of this situation is for someone (or site) with higher relevance (or 'page rank') to exercise their right to vouch for this content. This is exactly the currency that I mentioned before.</p>

<p>It is because of this need that sites like <a href="https://digg.com">digg</a> have become so popular. But even with <a href="https://Digg.com">Digg</a>, the problem is not fully solved. I will explain this in greater detain in a subsequent blog....</p>