Title: Firefox 1.0 Released
Published: 11/10/2004
Tags:
  - Technology
----

<p><a href="https://www.mozilla.org/products/firefox">Firefox</a> 1.0 was released today. They have added some nifty features like '<a href="https://www.mozilla.org/products/firefox/smart-keywords.html">smart keyword search</a>' and search box in the Navigation toolbar, integrated with I'm Feeling LuckyTM Google search in the Location bar.</p>

<p>I have <a href="https://ftp.mozilla.org/pub/mozilla.org/firefox/releases/1.0/win32/en-US/Firefox%20Setup%201.0.exe">downloaded</a> and installed the same and enjoying it...</p>