Title: Photography - A hobby
Published: 11/8/2004
Tags:
  - Personal
----

<p>I got hooked on to photography after I bought my SLR [Canon EOS 3000]. I will be writing more about this in the future. </p>

<p>Take a look at <a href="https://www.chiramattel.com/ann/photos/photo.aspx?album=Memorable%20ocassions&photo=M0011">this</a> photograph - double exposure technique. </p>

<p>Please add your comments...<br />
[Hey, I cannot offer much, but I promise one gmail invite for the first comment entry on how I could have improved this shot :-) ]</p>

<p>ps. The above link points to my photo gallery, created using Microsoft <a href="https://msdn.microsoft.com/smartclient/codesamples/fotovision/">FotoVision</a> ASP.Net sample application. There seems to be some problem in rendering this using FireFox. I plan to investigate this and fire a bug report with FireFox. Meantime if someone can help me with this, it would be great..</p>