Title: Power of CSS
Published: 11/9/2004
Tags:
  - Technology
  - Web 2.0
----
<p><a href="https://www.csszengarden.com/">CSS Zen Garden</a>: A very interesting site highlighting the power of CSS. To quote..<br />
<blockquote>There is clearly a need for CSS to be taken seriously by graphic artists. The Zen Garden aims to excite, inspire, and encourage participation. To begin, view some of the existing designs in the list. Clicking on any one will load the style sheet into this very page. The code remains the same, the only thing that has changed is the external .css file. Yes, really.</blockquote></p>