Title: My new Digital SLR
Published: 05/29/2005
Tags:
  - Personal
----

 <p>I am thrilled to announce that I have bought a Digital SLR - <a href="http://consumer.usa.canon.com/ir/controller?act=ModelDetailAct&fcategoryid=139&modelid=11154">Canon EOS 350D / Digital Rebel XT</a>. It comes with a kit lens EFS 18-55mm. I already have a flash that supports EOS E-TTL - <a href="http://www.usa.canon.com/html/cameras_speedlite/420ex.html">Canon Speedlite 420EX</a>. Now that I have all the stuff, I am hopping I can really improve my photography skills :-)</p>

<p><img alt="rebel_xt_586x225.jpg" src="http://www.chiramattel.com/george/blog/archives/rebel_xt_586x225.jpg" width="586" height="225" /></p>

<p><br />
I will start uploading the snaps that I have taken <a href="http://www.chiramattel.com/george/photos/">here</a>.</p>