Title: On IIS and Kerberos
Published: 10/29/2006
Tags:
  - Technology
----
<p><a href="https://adopenstatic.com/cs/blogs/ken/default.aspx">Ken Schaefer</a> has started a series on the IIS and Kerberos. You can read the first part <a href="https://adopenstatic.com/cs/blogs/ken/archive/2006/10/19/512.aspx">here</a>.<br />
<blockquote>Authentication is the process of proving your identity to a remote system. Your identity is who you are, and authentication is the process of proving that. In many systems your identity is your username, and you use a secret shared between you and the remote system (a password) to prove that your identity.</blockquote></p>