Title: A new start (after 7 years...)
Published: 5/01/2008
Tags:
  - Personal
----
<p>Yesterday was my last day working in <a href="http://www.bangalore.philips.com">Philips</a>. I throughly enjoyed the last 7 years that I spent here where I learned a lot of stuff, from my mistakes as well as from the new technology/areas that I explored. Also, I made a lot of good friends, who had a very good influence on me, and I will always cherish the moments that I spent with them. And now, the time has come to start anew and to face new challenges. </p>

<p>I am joining <a href="http://www.intuit.com/">Intuit</a> <a href="http://www.intuit.com/india/">Bangalore</a> as a Software Architect. I am quite excited about this opportunity. From all the interactions that I had so far, Intuit look like a very promising place to work.</p>
