Title: Ann started work again
Published: 4/02/2004
Tags:
  - Personal
----
<p>My wife (<a href="https://ann.chiramattel.com">Ann</a>) started going back to work. She had previously discontinued work for about a year to take care of our kid Liza.</p>
<p>She joined Digital, which is now taken over by <a href="https://www.HP.com">HP</a>.</p>
