Title: SmartClip
Lead: A smart windows clipboard utility.
Published: 4/27/2004
Tags:
  - OpenSource
----
<p>I have written an article on <a href="https://www.codeproject.com">Codeproject</a> that talks about a system-tray based clipboard utility called SmartClip. I have been using this tool for quite some time and I have found it to be very useful. <br />
You can download it from <a href="https://www.chiramattel.com/george/smartclip/smartclip.zip">here</a>.</p>

<p>WARNING!!! This is an addictive tool :-)</p>
