Title: Chiramattel site revamped
Published: 7/17/2004
Tags:
  - Personal
----
<p>My <a href="https://chiramattel.com/ann">wife</a>  was working on revamping our <a href="https://chiramattel.com/">site</a>. You can read more about this from her <a href="https://chiramattel.com/ann/blog">blog</a>.</p>

<p>The good thing about this is that, now I can update my site more easily. So you can expect more content there :-)</p>
