Title: Code Cross Referencing tools
Lead: I am happy to announce the launch of FlipThroughMovies.com.
Published: 7/09/2004
Tags:
  - Technology
----
<p>I am looking for a good Code Cross Referencing tool for .Net.<br />
<a href="http://www.fmsinc.com/dotnet/xref/index.asp">Total .Net XRef</a> is one such example. But I am looking for more features like Call graph etc.</p>

<p>If you know of any, please add the same as a comment... Thanks</p>
