Title: Direct Download Links to VS8 Beta
Published: 7/07/2004
Tags:
  - Technology
  - Microsoft
----
<p>These are the direct download links as provided by Microsoft: <br />
I got this information from <a href="https://www.vbcity.com/forums/topic.asp?tid=73371">here</a>. I am just reproducing it here so that you dont have to search.</p>

<p>MSDN : <a href="https://download.microsoft.com/download/d/5/f/d5fbf037-59b9-4906-b20b-de5dd544de12/msdnixp.exe">https://download.microsoft.com/download/d/5/f/d5fbf037-59b9-4906-b20b-de5dd544de12/msdnixp.exe </a></p>

<p>C++: <a href="https://download.microsoft.com/download/1/f/9/1f9c364a-7835-426f-a12e-238bdf8e3ebf/vcsetup.exe">https://download.microsoft.com/download/1/f/9/1f9c364a-7835-426f-a12e-238bdf8e3ebf/vcsetup.exe</a></p>

<p>C#: <a href="https://download.microsoft.com/download/8/c/7/8c784f26-8e95-43b9-90b9-56b511220dfb/vcssetup.exe">https://download.microsoft.com/download/8/c/7/8c784f26-8e95-43b9-90b9-56b511220dfb/vcssetup.exe</a> </p>

<p>dotnetfx2.0: <a href="https://download.microsoft.com/download/9/6/6/9666067a-660f-48e0-a755-a83a81036b67/dotnetfx.exe">https://download.microsoft.com/download/9/6/6/9666067a-660f-48e0-a755-a83a81036b67/dotnetfx.exe</a> </p>

<p>SQL Server 2005 Express : <a href="https://download.microsoft.com/download/9/6/6/9666067a-660f-48e0-a755-a83a81036b67/dotnetfx.exe">https://download.microsoft.com/download/c/f/8/cf872b5a-509b-44ce-b5ac-e693f7aec971/SQLEXPR.EXE</a> </p>

<p>WebDev : <a href="https://download.microsoft.com/download/6/e/1/6e1e9b98-928c-45f0-b44b-39f205090446/vwdsetup.exe">https://download.microsoft.com/download/6/e/1/6e1e9b98-928c-45f0-b44b-39f205090446/vwdsetup.exe</a> </p>

<p>VB: <a href="https://download.microsoft.com/download/3/f/5/3f52b37c-92a4-4ce0-9de0-0376165e5461/vbsetup.exe">https://download.microsoft.com/download/3/f/5/3f52b37c-92a4-4ce0-9de0-0376165e5461/vbsetup.exe</a> </p>

<p>J#: <a href="https://download.microsoft.com/download/b/3/4/b34f6e5a-5ae8-4aec-b3dd-d1d0e0af8fac/vjredist.exe"> https://download.microsoft.com/download/b/3/4/b34f6e5a-5ae8-4aec-b3dd-d1d0e0af8fac/vjredist.exe</a> </p>

<p><br />
Please let me know if these links do not work.</p>
