Title: I bought a new watch
Published: 7/13/2004
Tags:
  - Personal
----
<table ID="Table1"><tr><td><img alt="TimexDatalink.jpg" src="http://george.chiramattel.com/blog/archives/TimexDatalink.jpg" width="176" height="199" border="0" /></td><td valign="top">My new <a href="http://www.timex.com/datalink/">Timex Datalink</a> can connect  to any pc using a USB cable (supplied along with the watch). The watch has build in PIM capabilities. You can upload data into the watch through the bundled software. <br><br><b>The Problem</b>:<br>The bundled software can only synchronize with Outlook and iCalc. But at office we use Lotus.<br>Fortunately the bundled software can be extended using <a href="http://www.timex.com/developer/datalink/">plugins</a>. I am in the process of building a plugin that uses the Lotus ODBC driver to get to the lotus db. I will post more info on this as and when available...</td></tr></table>
