Title: Interesting project that I would like to monitor.
Published: 7/25/2004
Tags:
  - Personal
  - Technology
----
<p><a href="https://rail.dei.uc.pt/">RAIL -  Runtime Assembly Instrumentation Library</a><br />
This project plans to implement an API that allows CLR assemblies to be manipulated and instrumented before they are loaded and executed.</p>

<p><a href="https://www.gotdotnet.com/community/workspaces/workspace.aspx?ID=A8BB2C16-C6B8-471F-B185-79A02AC8E50E">Visual IL</a><br />
Visual Studio editor and project for IL files. Works only with Visual Studio 2005 :-(</p>

<p><a href="https://www.aisto.com/roeder/dotnet/">IlReader</a><br />
Subclasses System.Reflection, and provides read-only access to raw IL instructions. From the same person who wrote <a href="https://www.aisto.com/roeder/dotnet/">Reflector for .NET</a></p>

<p><a href="https://research.microsoft.com/projects/ilx/absil.aspx">AbstractIL</a><br />
Abstract IL is a toolkit for manipulating .NET Common IL binaries. This is from Microsoft research.</p>
