Title: "Paint.NET: MS Paint replacement"
Published: 7/05/2004
Tags:
  - Technology
  - OpenSource
----
<p>I was browsing through and I found a good replacement for MSPaint called <a href="http://www.eecs.wsu.edu/~cs423/423spring04/Team2/">Paint.Net</a>.<br />
A free <a href="http://www.eecs.wsu.edu/~cs423/423spring04/Team2/PaintDotNet.msi">download</a> is available. Have fun....</p>

<blockquote>Paint.NET is a senior design project aided by a mentor at Microsoft.  It is a paint program designed entirely by students and written using Microsoft's .NET Framework.  The program makes it easier to create and edit photos. It maintains some of the best features of the original MS-Paint application and includes new, powerful tools. Such new tools include a history storage for undos and redos, and powerful multi-layering which is often seen only in high-quality, expensive photo-applications. This product was engineered with the latest in graphics and coding technology such as the new C# language from Microsoft, and the GDI+ graphics libraries. These programming frameworks allowed for the creation of a speedy, responsive application with an amazing array of graphic capabilities. </blockquote>
