Title: Status of my CIL-Parser project
Published: 7/21/2004
Tags:
  - Personal
  - OpenSource
----
<p>I had started a project called CIL-Parser on <a href="http://cil-parser.sourceforge.net/">Source Forge</a>. There was very little activity going on in this area for quite some time. Now I am trying to revive it.</p>

<p>The good news is that I finished the difficult phase of it - creating the IL grammar and testing it. I started off by looking at MS SSCLI implementation of the IL grammar. Fortunately the current version of dotNet framework SDK ships with the IL grammar (in the tools developers section).</p>

<p>I will be writing more on this in a few days...</p>
