Title: XMLSPY 2004 Home Edition
Published: 7/06/2004
Tags:
  - Personal
----
<p><a href="https://www.altova.com">Altova</a> has released a free version of <a href="https://www.altova.com/download.html">XML Spy</a> for home use. You can refer to the feature matrix <a href="https://www.altova.com/matrix.html">here</a>.</p> 
